@CHARSET "UTF-8";

img {
	border: none;
}

a:link {
	text-decoration: none;
	color: #333333;
	font-weight: bold;
	font-size: 12px;
}

a:visited {
	text-decoration: none;
	color: #333333;
	font-weight: bold;
	font-size: 12px;
}

a:hover {
	text-decoration: none;
	border: medium;
	font-weight: bold;
	font-size: 12px;
}

a:active {
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
}

table {
	font-size: 12px;
	letter-spacing: 2px;
	font-family: "宋体";
	text-align: center;
	/* BORDER-TOP: #666666 1px solid;
	BORDER-LEFT: #666666 1px solid;
	BORDER-BOTTOM: #666666 1px solid;
	border-right: #666666 1px solid;
	 	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px; */
}

td {
	letter-spacing: 2px;
	line-height: 18px;
	font-family: "宋体";
	padding-top: 2px;
	padding-bottom: 2px;
}

.td {
	border-right: 1px solid #000;
}

.td_t {
	border-top: 1px solid #000;
}

input {
	BORDER-RIGHT: #77787a 1px solid;
	BORDER-TOP: #77787a 1px solid;
	FONT-SIZE: 12px;
	BORDER-LEFT: #77787a 1px solid;
	CURSOR: pointer;
	BORDER-BOTTOM: #77787a 1px solid;
	text-align: center;
}

.box {
	border: 1px solid #C0C0C0;
	width: 102px;
	height: 20px;
	clip: rect(0px, 101px, 18px, 0px);
	overflow: hidden;
}

.box2 {
	border: 1px solid #F4F4F4;
	width: 100px;
	height: 18px;
	clip: rect(0px, 99px, 18px, 0px);
	overflow: hidden;
}

select {
	position: relative;
	left: -2px;
	top: -2px;
	width: 103px;
	line-height: 14px;
	border-style: none;
	border-width: 0px;
	BORDER-RIGHT: #77787a 1px solid;
	BORDER-TOP: #77787a 1px solid;
}

textarea {
	overflow: hidden;
}

.inputtext {
	width: 150px;
	background: #FFFFFF;
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #000000 1px solid;
	FONT-SIZE: 12px;
	BORDER-LEFT: #000000 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #000000 1px solid;
	HEIGHT: 16px;
	width: 200px;
	/*border: 0px;
	background-image: url('../img/input.png');
	background-repeat: no-repeat;
	 background-position-x: right; 
	padding-left: 3px;
	padding-right: 3px;
	height: 20px;
	font-size: 11px;
	width: 200px;*/
}

.title {
	background: url("../img/login.png");
	font-size: 15px;
	font-weight: bold;
	font-family: 微软雅黑;
	border: #000000 1px solid;
	/* 	background-color: white; */
	width: 345px;
	text-align: center;
	padding-top: 20px;
	height: 215px;
	line-height: 22px;
	z-index: 1;
}

.sub {
	BORDER-RIGHT: #34a7e0 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #34a7e0 1px solid;
	PADDING-LEFT: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	FONT-SIZE: 12px;
	/* FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr=#000000, EndColorStr=#8a8b8c ); */
	BORDER-LEFT: #34a7e0 1px solid;
	background-color: #4f5052;
	CURSOR: hand;
	COLOR: #eeeeee;
	PADDING-TOP: 4px;
	letter-spacing: 4px;
	BORDER-BOTTOM: #34a7e0 1px solid
}

.reset {
	border: 1px solid;
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	FONT-SIZE: 12px;
	background-color: white;
	/* 	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr=#FFFFFF, EndColorStr=#8a8b8c ); */
	CURSOR: hand;
	COLOR: #958686;
	PADDING-TOP: 2px;
}

.top {
	background-image: url('../img/bg.jpg');
	margin-top: 0px;
	padding: 0px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	height: 100%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	z-index: 1;
	overflow: scroll;
}

.label {
	font-size: 14px;
	text-align: center;
	font-family: 微软雅黑;
	letter-spacing: 2px;
	color: #000000;
	width: 100px;
}

.trtitle {
	font-size: 12px;
	background-color: #e2e0e1;
	color: #000000;
	font-weight: bolder;
	font-family: '宋体';
}

.pageno {
	background-color: #aca7a7;
	azimuth: right;
}

.trtitlew {
	background-color: white;
	color: black;
}

.trtitled {
	background-color: #666666;
	color: white;
}

.trtitleb {
	background-color: #000000;
	color: white;
}

.pageno {
	background-color: #666666;
	color: white;
}

.m_div {
	border-style: solid;
	border: 1px;
}

.p_div {
	border: 1px solid #000000;
	position: absolute;
	text-align: center;
	font-family: "黑体";
	text-align: inherit;
	font-size: 12px;
}

.b_div {
	border-style: solid;
	border: 1px;
}